body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: brown;
  color: yellow;
}

.body_home{
  background-image: url(https://i.imgur.com/fz5bHJH.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.about_body{
  background-color: rgba(205, 213, 224, 0.27);
  width: 100%;
  height: auto;
}

.edu_body{
  width: 100%;
  height: auto;
}

.experience_body{
  background-color: rgba(228, 162, 83, 0.34);
  width: 100%;
  height: auto;
}

.contact_body{
  background-color: rgba(215, 212, 207, 0.52);
  width: 100%;
}

.loc_body {
  background-color: rgba(205, 213, 224, 0.27);
  width: 100%;
  height: auto;
}

.form_body{
  background-color: rgba(228, 162, 83, 0.34);
  width: 100%;
}

.card-deck{
  margin-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.edu_img{;
  width: 200px;
  height: 200px;
}

.row{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.edu_text{
  margin-top: 30px;
}

.photo{
  width: 100%;
}

.loc_img{
  width: 100%;
  height: auto;
}

.container{
  margin-top: 200px;
  text-align: justify;
}

.title{
  font-weight: bold;
}

.loc{
  background-color: rgba(150, 159, 170, 0.2);
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 1100px;
  font-size: 20px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.icon{
  width: 50px;
  height: 50px;
  float: left;
}

.phone{
  float: right;
  width: 100%;
}

.contact{
  padding-top: 200px;
  padding-left: 50px;
}

.hehe{
  font-size: 20px;
}

h2{
  text-decoration: underline;
  font-weight: bold;
}

.card-body{
  text-align: center;
}

.loc_icon{
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.form-group{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

h1{
  margin-top: 50px;
  text-align: center;
}

