<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center><img src="https://imgur.com/X9Gw2bQ.jpg" align="center" alt="foto" style= "width:200px; height:200px; border-radius: 50%"></center>
    <title>{{ name }}</title>
</head>
<body style="background-color:LIGHTSTEELBLUE;">
    <h1 align="center">Hello my name is {{ name }}</h1>
    <article align='center'>I am {{ age }} years old</article>
    <article align='center'>NPM : {{ npm }}</article>
    <article align='center'>Hobby : {{hobby}}</article>
    <article align='center'>Campus : {{campus}} </article>
    <article align='center'>Description : {{desc}}</article>

    <center><img src="https://i.imgur.com/2L2ybYy.jpg" align="center" alt="foto" style= "width:200px; height:200px; border-radius: 50%"></center>
    <h2 align="center">Maharani Eka P</h2>
    <article align='center'>I am 18 years old</article>
    <article align='center'>NPM : 1706043526 </article>
    <article align='center'>Hobby : fishing</article>
    <article align='center'>Campus : Universitas Indonesia  </article>
    <article align='center'>Description : She likes to sleep</article>

    <center><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41052035_1727221247389172_3936720410233536512_n.jpg?_nc_cat=0&oh=0374439335b325baaba297c6394dcc57&oe=5BEF5425" align="center" alt="foto" style= "width:200px; height:200px; border-radius: 50%"></center>
    <h2 align="center">Nabilla Yuli S</h2>
    <article align='center'>I am 19 years old</article>
    <article align='center'>NPM : 1706984682 </article>
    <article align='center'>Hobby : travelling </article>
    <article align='center'>Campus : Universitas Indonesia  </article>
    <article align='center'>Description : Know your passion, work hard, be nice, have fun</article>

</body>
</html>
