{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href={% static "style.css" %}>
</head>
<header>
  {% include "partials/navbar.html" %}
</header>

<body class="contact_body">

<img class="phone" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/72802b55eb3740e4828c03b16fa030e1?quality=95&fake=.png">

<div class="contact">
	<h2>Contact</h2>
	<br>
	<br>
	<img class="icon" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/9301988f3ada4b5893f74ed0569ddefc?quality=95&fake=.png">
	<p class="hehe">&nbsp;&nbsp;087782389350</p>
	<br>
	<br>
	<img class="icon" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/332df06a8d8c41879eed1aea54923e2d?quality=95&fake=.png">
	<p class="hehe">&nbsp;&nbsp;shanianabilah@gmail.com</p>
	<br>
	<br>
	<img class="icon" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/b19d176c926942949bf57b97b6455c2a?quality=95&fake=.png">
	<p class="hehe">&nbsp;&nbsp;shanianabilah</p>
</div>

</body>
</html>