{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href={% static "style.css" %}>
</head>
<header>
  {% include "partials/navbar.html" %}
</header>

<body class="edu_body">

<div class="row">
  <div class="col">
  	<img src="https://i.imgur.com/QvecVR9.jpg" width="250px" height="250px">
  </div>
  <div class="col">
  	<p class="edu_text">Dwi Matra</p>
  	<p class="edu_text">Islamic Elementary School</p>
  	<p class="edu_text">2005 - 2011</p>
  </div>
  <div class="col">
  	<img class="edu_img" src="https://i.imgur.com/hdgwX6Q.jpg">
  </div>
  <div class="col">
  	<p class="edu_text">Al Azhar 1</p>
  	<p class="edu_text">Senior High School</p>
  	<p class="edu_text">2014 - 2017</p>
  </div>
</div>
<div class="row">
  <div class="col">
  	<img class="edu_img" src="https://i.imgur.com/PRHLjF4.png">
  </div>
  <div class="col">
  	<p class="edu_text">Al Azhar 1</p>
  	<p class="edu_text">Junior High School</p>
  	<p class="edu_text">2011 - 2014</p>
  </div>
  <div class="col">
  	<img class="edu_img" src="https://i.imgur.com/qc6ypNq.png">
  </div>
  <div class="col">
  	<p class="edu_text">Information System</p>
  	<p class="edu_text">Faculty of Computer Science UI</p>
  	<p class="edu_text">2017 - present</p>
  </div>
</div>

</body>
</html>