{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href={% static "style.css" %}>
</head>
<header>
  {% include "partials/navbar.html" %}
</header>

<body class="experience_body">

<div class="card-deck">
  <div class="card" style="width: 100%;"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <img class="card-img-top" src=https://i.imgur.com/IdXXiSR.jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BEM Fasilkom UI 2018</h5>
      <p class="card-text">Staff of Athletic Department</p>
    </div>
  </div>
  <div class="card" style="width: 100%;">
    <img class="card-img-top" src="https://i.imgur.com/ooxxNYQ.jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CS League 2018</h5>
      <p class="card-text">Staff of Event</p>
    </div>
  </div>
  <div class="card" style="width: 100%;">
    <img class="card-img-top" src="https://i.imgur.com/mqRk9nt.jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Compfest X</h5>
      <p class="card-text">Staff of Offline Marketing</p>
    </div>
  </div>
  <div class="card" style="width: 100%;">
    <img class="card-img-top" src="https://i.imgur.com/0awdnjE.jpg/100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Open House Fasilkom UI 2018</h5>
      <p class="card-text">Staff of Liaison Officer</p>
    </div>
  </div>
</div>

</body>
</html>