<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default navbar-fixed-top navbar-inverse">
  <a class="navbar-brand" href="#">Shania</a>
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="education.html">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="experience.html">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="form.html">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="schedule.html">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="location.html"><img class="loc_icon" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/19a8e86f44034c18adce5f63217606d7?quality=95&fake=.png"></a>
      </li>
    </ul>
  </div>
</nav>

